.appbar {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 3px 1px #ccc;
    background-color: #fafafa;
}


.brand {
    position: absolute;
    left: 10px;
    color: #666;
    font-size: 20px;
}

.layoutOptions {
    position: absolute;
    right: 10px;
    height: 30px;
    display: flex;
}

.layoutOptions > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    fill: #aaa;
}

.layoutOptions > button.active svg {
    fill: #333;
}

@media (max-width: 768px) {
    .appbar {
        padding: 0;
    }

    .brand {
        display: none;
    }

    .layoutOptions {
        position: static;
    }
}