.scroller {
    overflow-y: auto;
    height: 100%;
    padding-top: 10px;
}

.spinnercontainer {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.spinner {
    animation-name: spin;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
    line-height: 30px;
    font-size: 30px;
}

.errorcontaner {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.errorcontaner > button {
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #aaa;
    cursor: pointer;
    outline: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}