.imagebox {
    overflow: hidden;
    position: relative;
}

.imagebox > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transition: filter 0.35s ease;
}

.imagebox + .imagebox {
    margin-top: 10px;
}

.blurImage {
    filter: blur(7px);
}