.listlayout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listlayout > * {
    width: 400px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #aaa;
    height: 100px;
}

@media (max-width: 768px) {
    .listlayout > * {
        width: 98%;
    }
}

.contentContainer {
    display: flex;
    justify-content: center;
}

.singleColumnLayout {
    width: 500px;
}

.multiColumnLayout {
    width: 900px
}

.gridinnercontainer {
    display: flex;
    flex-wrap: wrap;
}

.gridbox {
    padding: 6px;
    overflow: hidden;
}

.gridBoxInner {
    border: 1px solid #eee;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 5px 1px #ccc;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imageLink {
    text-decoration: none;
    color: #555;
    font-size: 18px;
}

.imageTitle {
    padding: 5px 10px;
    text-overflow: ellipsis;
}